<header class="p-3 border-bottom">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
      >
        <img
          class="bi me-2"
          width="40"
          height="32"
          aria-label="Bootstrap"
          role="img"
        />
      </a>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a routerLink="/shopping-cart" class="nav-link px-2 link-dark">
            Shopping Cart
            <span
              *ngIf="cart$ | async as cart"
              class="badge rounded-pill text-bg-warning"
            >
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
        <li *ngIf="!appUser">
          <a routerLink="/login" class="nav-link px-2 link-dark">Login</a>
        </li>
      </ul>

      <div *ngIf="appUser" ngbDropdown class="dropdown text-end">
        <a
          ngbDropdownToggle
          class="d-block link-dark text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="true"
        >
          {{ appUser.name }}
          <!-- <img
            *ngIf="user.photoURL"
            src="{{ user.photoURL }}"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          /> -->
        </a>
        <ul
          ngbDropdownMenu
          class="dropdown-menu text-small drop-position"
          data-popper-placement="bottom-start"
        >
          <li>
            <a class="dropdown-item" routerLink="/my/orders">My orders</a>
          </li>
          <ng-container *ngIf="appUser.isAdmin">
            <li>
              <a class="dropdown-item" routerLink="/admin/orders"
                >Manage Orders</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/products"
                >Manage Products</a
              >
            </li>
          </ng-container>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
