<div class="container mt-4">
  <h1>Shopping Cart</h1>
  <ng-container *ngIf="cart$ | async as cart">
    <p>You have {{ cart.totalItemsCount }} items in your shopping cart.
      <button
      *ngIf="cart.items.length"
      (click)="clearCart()"
      class="btn btn-light btn-sm"
    >
      Clear Shopping Cart
    </button>
    </p>
    
    <table class="table">
      <thead>
        <tr class="sticky-top bg-white">
          <th scope="col" class="col-md-1"></th>
          <th scope="col" class="col-sm-4">Product</th>
          <th scope="col" class="text-center col-4">Quantity</th>
          <th scope="col" class="text-right">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle" *ngFor="let item of cart.items">
          <td>
            <img class="img-thumbnail rounded-circle" [src]="item.imageUrl" />
          </td>
          <td>{{ item.title }}</td>
          <td>
            <product-quantity
              class="d-flex justify-content-evenly"
              [shopping-cart]="cart"
              [product]="item"
            ></product-quantity>
          </td>
          <td>
            {{ item.totalPrice | currency : "USD" }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <th>{{ cart.totalPrice | currency : "USD" }}</th>
        </tr>
      </tfoot>
    </table>
    <a
      *ngIf="cart.items.length"
      routerLink="/check-out"
      class="btn btn-primary text-white"
    >
      Check Out
    </a>
    
  </ng-container>
</div>
