<nav class="navbar navbar-expand-lg border-bottom bg-white bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand">
      <i class="bi bi-shop"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/shopping-cart"  class=" px-2 link-dark">
            <i style="font-size: 26px" class="bi bi-cart2"> </i>
            <span
              *ngIf="cart$ | async as cart"
              class="badge rounded-pill text-bg-warning"
            >
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
        <li class="nav-item" *ngIf="!appUser">
          <a routerLink="/login" class="nav-link px-2 link-dark">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav  mb-2 mb-lg-0">

      </ul>

      <li *ngIf="appUser" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          {{ appUser.name }}
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li>
            <a class="dropdown-item" routerLink="/my/orders">My orders</a>
          </li>
          <ng-container *ngIf="appUser.isAdmin">
            <li>
              <a class="dropdown-item" routerLink="/admin/orders"
                >Manage Orders</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/products"
                >Manage Products</a
              >
            </li>
          </ng-container>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>
